---
import Header from "../components/Header.astro";

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  backLink?: string;

  frontmatter?: Props;
}

const { title, description, siteName, backLink }: Props =
  Astro.props.frontmatter || Astro.props;

import "../scss/base.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title || "yukata.dev"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="me" href="https://uwu.social/@kot" />
    <link rel="me" href="https://awau.social/@kot" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content="en" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.site} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />

    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta name="description" content={description} />

    <meta name="theme-color" content="#99DDFF" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <article>
      {
        title && (
          // Don't show description from frontmatter of non-blog pages (TODO: make this less hacky)
          <Header
            title={title}
            description={Astro.props.description}
            backLink={backLink}
          />
        )
      }

      <slot name="sidebar" />

      <main>
        <slot />
      </main>
    </article>
  </body>
</html>
